header {
    width: 100%;
    background-color: #FFFFFF;
}

#information {
    box-sizing: border-box;
    width: 100%;
    min-width: 1300px;
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
}

#information span {
    text-align: left;
    margin-left: 235px;
    margin-right: 165px;
    display: inline-block;
}

#information, #header {
    padding: 10px;
    text-align: center;
}

#header {
    width: 1000px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 750px;
}

#header::after {
    content: "";
    clear: both;
    display: table;
}

#information ul {
    display: inline-block;
    min-width: 630px;
    width: 50%;
    list-style: none;
    margin: 0;
    margin-right: 100px;
    padding: 0;
    text-align: center;
}

#information ul li {
    display: inline-block;
    border-right: 1px solid #AAAAAA;
    padding-right: 10px;
    padding-left: 6px;
}

#main_logo {
    float: left;
    margin-top: 15px;
    margin-right: 50px;
}

#search_bar {
    display: inline-block;
    float: left;
    margin-top: 29px;
}


#search_bar input {
    box-sizing: border-box;
    width: 210px;
    height: 40px;
}

#search_bar button {
    background-image: url("./image/ic_search.png");
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0px;
    background-position: 0px -10px;
    border: 0px;
    overflow: hidden;
    top: 6px;
    left: -30px;
}

#search_bar .result_list {
    position: absolute;
    display: none;
    width: 210px;
    margin: 0;
    background-color: #2ac1bc;
    z-index: 999;
}

.result_list ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.result_list ul li {
    padding: 5px;
    font-size: 20px;
}

.side_logo {
    float: right;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}
main {
    min-width: 1300px;
}
main nav {
    background-color: #483f35;
    margin-bottom: 70px;
}

main nav ul {
    list-style: none;
    color: #ffffff;
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

main nav ul li {
    display: inline-block;
    padding: 20px 30px;
    font-weight: bold;
}

#brand_shop {
    background-color: #362d25;
}

#menu_container {
    text-align: center;
}

#side_dish_logo {
    margin-bottom: 37px;
}

.arrow {
    background-image: url("./image/arrow.png");
    width: 28px;
    height: 52px;
    overflow: hidden;
    border: none;
}

#left_arrow {
    background-position: 0 0;
    margin-right: 30px;
}

#right_arrow {
    background-position: 30px 0;
    margin-left: 30px;
}

.menu {
    display: inline-block;
    width: 215px;
    height: 350px;
    margin: 0 15px;
    vertical-align: middle;
}

.menu .food_image {
    width: 215px;
    border-radius: 107px;
}

.menu h3 {
    letter-spacing: -0.07em;
    margin-bottom: 5px;
}
.menu p {
    font-size: 13px;
    color: #666;
    letter-spacing: -0.07em;
    margin: 0 0 11px 0;
}

.n_price {
    font-size: 14px;
    color: #888;
    font-weight: normal;
    vertical-align: middle;
    text-decoration-line: line-through;
}

.s_price {
    margin-left: 9px;
    font-size: 26px;
    color: #2AC1BC;
    font-weight: bold;
    vertical-align: middle;
}

.won {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}
