body {
    margin: 0 0 0 0;
}

li {
    list-style: none;
}

ul {
    padding: 0 0 0 0;
}

a {
	text-decoration: none;
	color: #000000;
}

.header-wrapper {
	display: flex;
    width: 980px;
    margin: auto;
}

.hover_link {

}

.hover-link:hover {
	color: #25d4ce;
    cursor: pointer;
}

.search-bar {
	width: 100%;
	height: 38px;
    position: relative;
}

#search-field {
	margin: auto;
	height: 36px;
	border: 1px solid;
	padding: 0px;
}

.search-button {
	margin: auto;
	border: 1px solid black;
	width: 38px;
	height: 38px;
    background: url(https://cdn.bmf.kr/web/common/ic_search.png) no-repeat center 0;
}

.top-navigation {
    height: 40px;
    display: flex;
    border-bottom: 1px solid;
}

.app-download {
    flex: 2;
    text-align: left;
    display: flex;
}

.app-download > span {
    line-height: 40px;
    height: 100%;
}

.system-navigation {
    display: inline-block;
    float: right;
    flex: 5;
    text-align: right;
}

.system-navigation > ul {
    float: right;
    position: relative;
}

.system-navigation > ul > li {
    position: relative;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    border-right: solid 1px;
}

.system-navigation > ul :last-child {
    border-right: none;
}

.header {
    margin: auto auto auto auto;
    height: 100px;
    display: flex;
}

.header > .logo {
    flex: 1;
}

.header > .search-bar {
    flex: 3;
}

.header > .quick-link {
    flex: 2;
    display: flex;
}

.quick-link > ul {
    display: flex;
    width: 100%;
}

.quick-link > ul > li {
    flex: 1;
}

.menu-bar {
    height: 55px;
    width: 100vw;
    display: flex;
    background-color: #483f35;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.menu-bar > ul{
    margin: auto auto auto auto;
    display: flex;
}

.menu-bar > ul > li {
	width: 100%; 
	height: 100%;
    flex: 1;
}
.menu-bar > ul > li > a {
	color: #ffffff;
}

.auto-complete-window {
    height: auto;
    width: 200px;
    position: relative;
    top: 0;
    background: #84D4D0;
}

.auto-complete-list > li > span {
    color: #D20052;
}

.hover {
	background-color: #7B9F93;
}



.auto-complete-list > li:focus {
    background-color: #7B9F93;
}









